* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#calendar-container {
    display: flex;
}

#calendar {
    width: 480px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#current-month {
    font-size: 18px;
    font-weight: bold;
}

#calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 14px;
}

.day-name {
    text-align: center;
    font-weight: bold;
    color: #333;
}

#calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
}

.day-cell {
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.day-cell:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
}

.day-cell.disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

#prev-month, #next-month {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#prev-month:hover, #next-month:hover {
    color: #007BFF;
}

#bookings-list {
    width: 30%;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-left: 20px;
}

#bookings-list h3 {
    margin-bottom: 10px;
}

#bookings-ul {
    list-style-type: none;
}

#bookings-ul li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#bookings-ul li:last-child {
    border-bottom: none;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}
